
  <header>
    <div class="no_member_contact">
      <nav class="motion">
        <div class="logo"><a href="index.php"><img src="img/logo.png" alt="BabyPark"></a>
        </div>
    
        <div class="search_nav">
          <form action="#" method="GET" class="search_container">
            <input type="text" name="search" size="25" placeholder="キーワードを入力">
            <input type="submit" name="search" value="検索">
          </form>
        </div>
  
        <div class="sign_box">
          <div class="login">
            <a href="login.php">ログイン</a>
          </div>
          <div class="sign_in">
            <a href="register.php">新規登録</a>
          </div>
        </div>
      </nav>
    </div>
  </header>
